$informa-green: #7bb042;

$grey-0: #FAFAFA;
$grey-1: #F5F5F5;
$grey-2: #EEEEEE;
$grey-3: #E0E0E0;
$grey-4: #BDBDBD;
$grey-5: #9E9E9E;
$grey-6: #757575;
$grey-7: #616161;
$grey-8: #424242;
$grey-9: #212121;

$font-family: "proxima-nova", sans-serif;
$lightest-blue: #BBDEFB;
$light-blue: #64B5F6;
$med-blue: #1976d2;

@import 'settings';